<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title><%= title %></title>
</head>

<body>
  <header>
    <div class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">School App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-item nav-link <%= page==='Student' ? 'active' : '' %>" href="/students">Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link <%= page==='Teacher' ? 'active' : '' %>" href="/teachers">Teacher</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link <%= page==='Subject' ? 'active' : '' %>" href="/subjects">Subject</a>
            </li>
          </ul>
        </div>
        <% if (page==='Teacher') { %>
        <form action="/teachers/" class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Teacher by ID" aria-label="Search">
          <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <% } %>
      </div>
    </div>
  </header>