<%- include('./partials/header', {title: '404 - Page Not Found | School App', page: 'NotFound'}) %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">404 - Page Not Found!</h1>
    <p class="lead">The page you are looking for was not found.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/" role="button">Back to Home</a>
  </div>
</div>

<%- include('./partials/footer') %>