<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add subject page</title>
</head>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
    <nav>
        <ul>
            <li><a href="/students">Data Students</a></li>
            <li><a href="/teachers">Data Teachers</a></li>
            <li><a href="/subjects">Data Subjects</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <h1>Add New Subject</h1>

    <form action="/subjects/add" method="post"> 
        <%if (error === 'Subject Name harus diisi') {%>
            <p><%= error %></p>
        <%}%>
        <label>Subject Name:</label> <br>
        <input type="text" name="subject_name"> <br><br>

        <button type="submit">Add</button>
        <button><a href="/subjects">Cancel</a></button>
    </form>

</body>
</html>