<%- include('partials/header',{browsertittle:"Register",header :"Register a New Student"}) %>
<% if(error){ %>
    <p style="color: red;"><%= error %></p>
<% } %>

<body>
    <form action ="/students/add" method ="post">
        <label for ="first_name">First Name:</label>
        <br>
        <input type ="text" name="first_name" placeholder ="Student's First Name">
        <br>
        <label for ="last_name"> Last Name:</label>
        <br>
        <input type ="text" name="last_name" placeholder ="Student's Last Name"  >
        <br>
        <label for ="email">E-mail:</label>
        <br>
        <input type ="text" name="email" placeholder ="Student's Email" >
        <br>
        <label for ="gender">Gender :</label>
        <br>
        <select name="gender">
            <option value ="Male">Male</option>
            <option value ="Female">Female</option>
        </select>
        <br>
        <label for ="birth_date">Date of Birth:</label>
        <br>
        <input type ="text" placeholder="DD-MM-YYYY" name="birth_date">
        <br>
        <br>
        <button type ="submit">Register</button>
    </form>
</body>
