<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/boostrap.ejs') %>
        <title>Add Student</title>
    </head>
    <body>
        <%- include('./partials/navbar.ejs') %>
        
        <div class="jumbotron">
            <% if (error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% }%>
            <form action="/students/add" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">First name</label>
                    <input type="text" name="firstName" class="form-control" id="exampleInputEmail1" autofocus placeholder="Enter your first name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Last name</label>
                    <input type="text" name="lastName" class="form-control" id="exampleInputEmail1" placeholder="Enter your last name" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Gender</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="gender">
                        <option selected disabled>Select Gender</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Birth date</label>
                    <input type="text" name="birthDate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="DD-MM-YYYY">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>