<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <form action="/students/<%=data[0].id%>/edit" method="POST">
    <%- include('./partial/form', {name: 'Edit Student', type: 'edit'}) %>
  </form>
</body>
</html>