<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit subject page</title>
</head>
<style>
    a {
        text-decoration: none;
    }
</style>
<body>
    <%- include('partials/nav-bar')%>
    <h1>Edit Subject</h1>

    <form action="/subjects/edit/<%=id%>" method="post"> 

        <%if (error === 'Subject Name harus diisi') {%>
            <p><%= error %></p>
        <%}%>
        <label>Subject Name:</label> <br>
        <input type="text" name="subject_name" value="<%=dataSubjects.subject_name%>"> <br><br>

        <button type="submit">Save</button>
        <button><a href="/subjects">Cancel</a></button>
    </form>

</body>
</html>