<%- include('./partials/navbar.ejs', { title : 'Error', error: true , nav1 : '/teacher', menu1 : 'Teacher', nav2 : './student', menu2 : 'Student', nav3 : './subject', menu3 : 'Subject'}) %>

<p style="color: firebrick; text-align: center; font-size: 400%;">404</p>
<p style="color: firebrick; text-align: center; font-size: 400%;">Page Not Found</p>

<%- include('./partials/footer.ejs') %>