<%- include('partials/header')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Page Error - 404</h1> <!--to contoller of error-->
        <p class="lead">Our school realised that not only education is nescessary but data management within our team are very important. Enjoy our latest school app with fast, simple, and real-time processing for a better data organizing.
        </p>
        <hr class="my-4">
        <p>We are very sorry for the inconvenience, please select button below to return to main page.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go Back</a>
        <!-- back to home aja -->
    </div>
</body>
</html>