<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/boostrap.ejs') %>
        <title>404 not found</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="display-4">404 not found</h1>
            <p class="lead"><%= error %></p>
            <hr class="my-4">
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Back to home</a>
            </p>
        </div>
    </body>
</html>