
<%- include('partial/header', { title: "Error Page", header: "Error Message"} );%>
    <!---------->
    <h3><%= error %></h3>
    
    <a href="/" role="button">Back to Homepage</a> <br>
    
</body>
</html>