
<%- include('partial/header', { title: "Homepage", header: "Welcome to SD Sumbangsih 29 Bogor"} );%>
    <!---------->

    <a href="/teacher" role="button">Teacher</a> <br>
    <a href="/student" role="button">Student</a> <br>
    <a href="/subject" role="button">Subject</a> <br>
</body>
</html>