<%- include ('partials/header', {title: 'Welcome to school app!'})%>
    <%- include ('partials/middle')%>
    <table class="table">
      <ul>
        <li><a href="/students">Show Students List</a></li>
        <li><a href="/teachers">Show Teachers List</a></li>
        <li><a href="/subjects">Show Subjects List</a></li>
      </ul>
<%- include ('partials/footer')%>
