<%- include ('./partials/header', {title: 'Welcome to my School Web App'}) %>
    <h3>This our first School Web Aplication using EJS.</h3>
    <pre><%= message %></pre>
    <a href="/teachers" class="link">Show List of Teachers</a>
    <a href="/students" class="link">Show List of Students</a>
    <a href="/subject" class="link">Show List of Subjects</a>
</body>
</html>