<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <div class="jumbotron">
    <h1 class="display-4" align="center">School Application</h1>
    <p class="lead" align="center">This is a simple School Application.</p>
    <hr class="my-4">
    <ul style="margin: 0 38%;";">
      <a class="btn btn-primary btn-lg" href="/students/add" role="button">Add Student</a>
    </ul>
  </div>
</body>
</html>