<%- include('partials/top.ejs') %>
    
    <h1>Welcome To School App's Homepage</h1>

    <h3>View Data:</h3>
    <a href="/students">Students</a><br>
    <a href="/teachers">Teachers</a><br>
    <a href="/subjects">Subjects</a>

<%- include('partials/bottom.ejs') %>