<!DOCTYPE html>
<head>
    <title> School Homepage</title>
</head>

<body>
    <h1>Welcome to Our School Homepage</h1>
    <h3> Here, you can check our Teachers, Students and Subjects List</h3>
    <a href ="/students"><button type="button">Student's List</button></a>
    <a href ="/subjects"><button type="button">Subject's List</button></a>
     <a href ="/teachers"><button type="button">Teacher's List</button></a>
</body>                                                                                                                                                                                                   