<%- include('partials/header', { title: 'Home Page' }) %>

  <a class="btn btn-primary btn-lg" href="/teacher" role="button">Teachers</a>
  <a class="btn btn-primary btn-lg" href="/student" role="button">Students</a>
  <a class="btn btn-primary btn-lg" href="/subject" role="button">Subjects</a>

<%- include('partials/footer') %>