<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>school app home</title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>SCHOOL APP SEQUELIZE HOME </h1>
    <nav>
        <ul>
            <li><a href="/students">Data Students</a></li>
            <li><a href="/teachers">Data Teachers (belum ada data hanya judul halamannya saja)</a></li>
            <li><a href="/subjects">Data Subjects (belum ada data hanya judul halamannya saja)</a></li>
        </ul>
    </nav>
</body>
</html>