<%- include('partials/header') %>
  <body>
        <h1>Welcome to the website of SMP Negeri 1 Tangerang</h1>
        <a href="students">View students</a><br><br>
        <a href="teachers">View teachers</a><br><br>
        <a href="subjects">View subjects</a>
  </body>
<%- include('partials/footer') %>