<%- include('partials/header')%>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to our School App!</h1>
        <p class="lead">Our school realised that not only education is nescessary but data management within our team are very important. Enjoy our latest school app with fast, simple, and real-time processing for a better data organizing.</p>
        <hr class="my-4">
        <p>Please select options below for further informations of our school.</p>
        <a class="btn btn-primary btn-lg" href="/students" role="button">Go to Students</a>
        <a class="btn btn-primary btn-lg" href="/subjects" role="button">Go to Subjects</a>
        <a class="btn btn-primary btn-lg" href="/teachers" role="button">Go to Teachers</a>
    </div>
</body>
</html>