<%- include('./partials/header', {title: 'School App', page: 'HomePage'}) %>

<main class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Hello, my buddy and my instructors!</h1>
    <p class="lead">Thank you very much for teaching and accompanying me to learn programming so far.</p>
    <hr class="my-4">
    <p>Please give as many suggestions and criticisms as possible for the application that I have been working on.</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/prime-fox-2020/school-application-sequelize/pull/20" role="button">Give Review Now</a>
  </div>
</main>

<%- include('./partials/footer') %>