<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/boostrap.ejs') %>
    <title>School App</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to School App</h1>
        <a class="btn btn-primary btn-lg" href="/students" role="button"> Go to School App</a>
    </div>
</body>
</html>