<%- include ('./partials/header')%>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to School Apps</h1>
    <p class="lead">This is an application for HacktivSchool to make it more easily accessed by teacer and student</p>
    <a class="btn btn-primary btn-lg mt-5" href="#" role="button">Learn more</a>
  </div>
</div>
<%- include ('./partials/footer')%>