<%- include('./partials/navbar.ejs', { title : 'Subject', error: false, nav1 : '/', menu1 : 'Home', nav2 : '/teacher', menu2 : 'Teacher', nav3 : '/student', menu3 : 'Student'}) %>
<h1 style="color: indigo; ; text-align: center;"> Subjects Data </h1>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Subject Name</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i = 0; i < subject.length; i++) { %>
        <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= subject[i].subject_name %></td>
        </tr>
        <% } %>
    </tbody>
</table>

<%- include('./partials/footer.ejs') %>