<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('partial/bootstrap') %> 
    <title>Subjects</title>
</head>
<body>
    <%- include('partial/navbar') %> 

    <div style="margin: 0 350px 0 350px">
        <h1 style="margin: 25px 150px 25px 150px">Subjects Data</h1>
    
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Subject Name</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(el => { %>
                    <tr>
                     <th scope="row"><%= el.id %> </th>
                     <td><%= el.subject_name %> </td>
                    </tr>
                    <% }) %>
            </tbody>
          </table>
    </div>
</body>
</html>